[submodule "license-templates"]
	path = license-templates
	url = https://github.com/licenses/license-templates.git
[submodule "github-gitignore"]
	path = github-gitignore
	url = https://github.com/github/gitignore.git
